.overflow-hidden {
  overflow: hidden;
}

.float-left {
  float: left;
}

.uploadContainer {
  display: flex;
  margin-bottom: 20px;
}

.uploadDiv {
  display: inline-block;
  width: 40%;
  margin: auto;
}

.uploadButton {
  cursor: pointer !important;
  width: 50% !important;
  margin: auto;
}

.profileTitle {
  background-color: #2d3e50 !important;
}

.profileImageDiv {
  margin: auto;
  display: inline-block;
  width: 40%;
}

.profileImage {
  width: 200px;
  max-width: 200px;
  margin: auto;
}

.profileFontSize {
  font-size: 1.3rem;
}

.mt-6 {
  margin-top: 4rem !important;
}

.aboutus-header {
  font-size: 3rem !important;
  margin-top: 10px;;
}

.aboutus-content {
  font-size: 1.5rem !important;
  margin-top: 20px;
}