.sheet {
  text-align: center;
  margin-top: 5px;
}

.item {
  margin: 40px;
}

.description {
  width: 50%;
  margin: auto;
}

.note {
  width: 30%;
  height: 30px;
  margin: auto;
}
h1 {
  color: #4d7775;
  text-decoration: underline;
  text-align: center;
}

li {
  list-style: none;
}

/* toggle button */

.switcher {
  background-color: black;
  width: 260px;
  height: 65px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 30px;
}

.switch-button {
  border-radius: 30px;
  overflow: hidden;
  width: 250px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4d7775;
  padding-right: 120px;
  margin-bottom: 5px;
  position: relative;
}
.switch-button:before {
  content: "Completed";
  color: #c45c74;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform 300ms linear;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 16px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 300ms;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

/* styling button  */

.btn-save {
  text-decoration: none;
  width: 70px;
  margin-left: 5px;
  border: 3px solid #4d7775;
  color: transparent;
  padding: 5px;
  font-size: 12px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
}
.btn-save:before {
  content: "SAVE";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d7775;
  background: rgb(34, 34, 34);
  font-size: 12px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.btn-save:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.btn-save:after {
  content: "SAVE";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4d7775;
  background: rgb(34, 34, 34);
  font-size: 12px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.btn-save:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}

/* button for next and back styling  */
.button2 {
  background-color: #c45c74;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 150px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.checkbox {
  font-weight: bold;
}
